{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block content %}
<div id="content-main">
    <h1>Users in group: {{ group.name }}</h1>
    
    <div class="module">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Date joined</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td>
                        <a href="{% url 'admin:accounts_user_change' user.id %}">Edit</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No users in this group</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="submit-row">
        <a href="{% url 'admin:auth_group_change' group.id %}" class="button">Back to group</a>
        <a href="{% url 'admin:accounts_user_add' %}?groups={{ group.id }}" class="button">Add new user to group</a>
    </div>
</div>
{% endblock %}